---
layout: layout
title: 首页 - Blogway_关注软件开发/互联网技术/大数据技术/敏捷开发/...
page_type: index
hot_category: 热门分类
bloglist: 博文列表
hot_author: 热门作者
high_author: 高产作者
viewnum: 访问量
blognum: 博文数
posted_on: 发布于
posted_by: 作者
filed_under: 分类
tags_on: 标签
read_more: 阅读全文
viewnum: 阅读
pre_page: 第
of_page: 页 共
end_page: 页
no_content: 无
limit_tags: 8 
---

<div class='container'>
    <div class='row main-content'>
        <div class='hidden-lg hidden-md hidden-sm hidden-xs bdsharebar'>
            {% include bdshare.html %}
        </div>
        <div class='col-md-9 col-sm-12 col-xs-12 mainbar'>
            <div class='ix-article-list'>{% for post in paginator.posts %}
                <div class='ix-article panel'>
                    <div class='panel-body hidden-sm hidden-xs'>
                        
                        <div class='ix-article-tags'></div>
                        <h3 class='ix-article-title'>
                            <a href='{{ post.url }}' target='_blank' title='{{ post.title }}'>{{ post.title }}</a>
                        </h3>
                        <div class='row ix-article-content'>
                            <div class='col-lg-4 col-md-5'>
                                <a class='thumbnail' href='{{ post.url }}' target='_blank' title='{{ post.title }}'>
                                    {% if post.image == null %}
                                    <img class="media-object" src="/images/blogways.png" alt="..." width='278px' height='166px'>
                                    {% else %}
                                    <img class="media-object" src="{{ post.image }}" alt="..." width='278px' height='166px'>
                                    {% endif %}
                                </a>
                            </div>
                            <div class='col-lg-8 col-md-7 row'>
                                <div class='col-lg-12'>
                                    <div class='ix-article-author'>
                                        <span class='glyphicon glyphicon-user'></span>
                                        <span class='sr-only'>{{ page.posted_by }}&nbsp;:&nbsp;</span>
                                        {% for author in site.authors %}{% if post.author == author.name %}
                                        <a href='{{ author.page_path }}'>{{ post.author | remove: ' '}}</a>{% endif %}{% endfor %}
                                    </div>
                                    <div class='ix-article-date'>
                                        <span class='glyphicon glyphicon-calendar'></span>
                                        <span class='sr-only'>{{ page.posted_on }}&nbsp;:&nbsp;</span>
                                        {{ post.date | date: "%Y-%m-%d"  }}
                                    </div>
                                </div>
                                <p class='ix-description col-xs-12 visible-lg'>{{ post.description }}</p>
                                <p class='ix-description col-xs-12 visible-md'>{{ post.description | truncate: 120 }}</p>          
                            </div>
                        </div>
                        <hr class='ix-hr'>
                        <div class='row'>{% assign limnum = page.limit_tags %}
                            <div class='col-xs-12 post-tags'>{% if post.tags == null %}
                                <span class='glyphicon glyphicon-tag'></span>{{ page.no_content}}{% else %}
                                <span class='glyphicon glyphicon-tags'></span>&nbsp;{% for tag in post.tags %}
                                {% if limnum > 0 %}
                                <a class='label label-info' href='#'>{{ tag }}</a>
                                {% assign limnum = limnum | minus: 1 %}{% endif %}
                                {% if forloop.last == false and limnum > 0 %}、{% endif %}{% endfor %}{% endif %}
                            </div>
                        </div>
                    </div><!--end of panel-body -->
                    <div class='panel-body visible-sm visible-xs'>
                        <div class='ix-article-title'>
                            <h4>
                                <a href='{{ post.url }}' target='_blank' title='{{ post.title }}'>{{ post.title }}
                                </a>
                            </h4>
                        </div>
                        <p class='ix-article-info'>
                            <span class='ix-article-date'>
                                <span class='glyphicon glyphicon-calendar'></span>
                                <span class='sr-only'>{{ page.posted_on }}&nbsp;:&nbsp;</span>
                                {{ post.date | date: "%Y-%m-%d"  }}
                            </span>&nbsp;&nbsp;
                            <span class='ix-article-author'>
                                <span class='glyphicon glyphicon-user'></span>
                                <span class='sr-only'>{{ page.posted_by }}&nbsp;:&nbsp;</span>
                                {% for author in site.authors %}{% if post.author == author.name %}
                                <a href='{{ author.page_path }}'>{{ post.author | remove: ' '}}</a>{% endif %}{% endfor %}
                            </span>
                        </p>
                        <div class='ix-article-content'>
                            <a href='{{ post.url }}' title='{{ post.title }}' target='_blank' class='thumbnail'>
                                {% if post.image == null %}
                                <img width='750' height='450' src='/images/blogways.png' style='display: block;'>
                                {% else %}
                                <img width='750' height='450' src='{{ post.image }}' style='display: block;'>
                                {% endif %}
                            </a>
                            <div class='well'>
                                {{ post.description | truncate: 120}}
                            </div>
                        </div>
                        <a href='{{ post.url }}' class='btn btn-default btn-block' title='{{ post.title }}'>{{ page.read_more }}</a>
                    </div><!--end of panel-body -->
                </div><!--end of article-->{% endfor %}
            </div><!--end of article-list -->
            <div class='paginationbar'>
                <label class='hidden-xs' style='color: #959595; margin-top: 25px;'>{{ page.pre_page }}{{ paginator.page }}{{ page.of_page }}{{ paginator.total_pages }}{{ page.end_page }}</label>
                {% include paginationbar.html %}
            </div>
        </div><!--end of mainbar-->
        <div class='col-md-3 hidden-sm hidden-xs sidebar'>
            {% include categorybar.html %}
        </div>
    </div>
</div>
