<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0
    minimum-scale=1.0,user-scalable=0">
    <title>{{ page.title }}_博汇网_www.blogways.net</title>
    <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/global.css">
    <script src="/jquery-3.2.1.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/global.js"></script>
</head>
<body>
    {% include leancloud-analytics.html %}
    {% include header.html %}
    {{ content }}
    {% include footer.html %}
    <div id="back" class="btn-group-vertical">
        <a><button type="button" class="btn btn-default">
            <span class="glyphicon glyphicon-chevron-up"></span>
        </button></a>
    </div>
</body>
</html>	
