<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <title>{{ page.title }}_博汇网_www.blogways.net</title>{% if page.tags != null %}
    <meta name=keywords content="{{ page.tags | join:', ' }}">{% endif %}
    {% if page.description != null %}
    <meta name=description content="{{ page.description }}">{% endif %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    <script src='/js/jquery-2.1.1.js'></script>
    <link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap.css'>
    <link rel='stylesheet' type='text/css' href='/bootstrap/css/bootstrap-theme.css'>
    <link rel='stylesheet' type='text/css' href='/css/app.css'>
    <script src='/bootstrap/js/bootstrap.js'></script>
    <script src='/js/app.js'></script>

</head>
<body style='background-color: #f5f5f5;'>
    <div class='totop visible-lg visible-md visible-sm hidden-xs'>
        <a id='to-top' href='javascript:void(0)'>
            <span id='to-top-title'>返回</br>顶部</span>
        </a>
    </div>
    <div class='totop-xs hidden-lg hidden-md hidden-sm visible-xs'>
        <a id='to-top-xs' href='javascript:void(0)'>
            <span id='to-top-title-xs'>返回</br>顶部</span>
        </a>
    </div>
    <div class='headerbar'>
        {% include header.html %}
    </div>
    {{ content }}
</body>
</html>	
