---
layout: layout
pt_page_type: pt
---
    <link rel="stylesheet" type="text/css" href="/css/post.css">
    <div class='container'>
        <div class="banner">
            <span class="glyphicon glyphicon-home"></span> <a href="/" style="color: #000;">首页</a> > 博文 
        </div>
        <div class='row main-content'>
            <div class='col-md-9 col-sm-12 col-xs-12 mainbar'>
                <div class='pt-article'>
                    <div class='panel panel-default pt-article-extra'>
                        <div class='panel-body'>
                            <div class='pt-article-pn row'>
                                {% assign p = page.previous %}{% if p %}
                                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                                    <span style="font-weight: 600;">上一篇:
                                        <a href='{{ p.url }}' title='{{ p.title }}' style="text-decoration: underline;">{{ p.title }}</a>
                                    </span>
                                </div>
                                {% endif %}
                                {% assign n = page.next %}{% if n %}
                                <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12'>
                                    <span class='pull-right hidden-sm hiden-xs visible-lg visible-md' style="font-weight: 600">下一篇:
                                        <a href='{{ n.url }}' title='{{ n.title }}' style="text-decoration: underline;">{{ n.title }}</a>
                                    </span>
                                    <span class='hidden-lg hiden-md visible-sm visible-xs' style="font-weight: 600">下一篇:
                                        <a href='{{ n.url }}' title='{{ n.title }}' style="text-decoration: underline;">{{ n.title }}</a>
                                    </span>
                                </div>
                                {% endif %}
                            </div><!--end of article-pn-->
                            <hr class='hidden-sm hidden-xs'>
                            <div class='pt-article-info'>
                                <div class='pt-article-title'>
                                    <h2>{{ page.title }}
                                    </h2>
                                </div>
                                <div class='pt-article-tags'>{% assign limnum = 8 %}
                                    <div class='col-xs-12 post-tags'>{% if page.tags == null %}
                                        <span class='glyphicon glyphicon-tag'></span> 暂无 {% else %}
                                        <span class='glyphicon glyphicon-tags'></span>&nbsp;&nbsp;标签&nbsp;&nbsp;{% for tag in page.tags %}
                                        {% if limnum > 0 %}
                                        <a class='label label-info' href='#'>{{ tag }}</a>
                                        {% assign limnum = limnum | minus: 1 %}{% endif %}
                                        {% if forloop.last == false and limnum > 0 %}、{% endif %}{% endfor %}{% endif %}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                        <span class="glyphicon glyphicon-th-list"></span>分类: <a class='label label-info' href='/categories/{{ page.category | first | downcase }}/'>{{ page.category }}</a>
                                        <small class='pt-article-date hidden-xs pull-right'>
                                            <span class='glyphicon glyphicon-calendar'></span>&nbsp;
                                            <span class='sr-only'>发布于&nbsp;:&nbsp;</span>{{ page.date | date: "%Y-%m-%d"  }}
                                        </small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class='pt-article-main'>
                        <div class='panel panel-default'>
                            <div class='panel-body'>
                                <div class='pt-article-content'>
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                        <div class='row'>
                            {% assign p = page.previous %}{% if p %}
                            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12' style="font-weight: 600">
                                <span>上一篇:
                                    <a href='{{ p.url }}' title='{{ p.title }}' style="text-decoration: underline;">{{ p.title }}</a>
                                </span>
                            </div>
                            {% endif %}
                            {% assign n = page.next %}{% if n %}
                            <div class='col-lg-6 col-md-6 col-sm-12 col-xs-12' style="font-weight: 600">
                                <span class='pull-right hidden-sm hiden-xs visible-lg visible-md'>下一篇:
                                    <a href='{{ n.url }}' title='{{ n.title }}' style="text-decoration: underline;">{{ n.title }}</a>
                                </span>
                                <span class='hidden-lg hiden-md visible-sm visible-xs'>下一篇:
                                    <a href='{{ n.url }}' title='{{ n.title }}' style="text-decoration: underline;">{{ n.title }}</a>
                                </span>
                            </div>
                            {% endif %}
                        </div><!--end row-->
                    </div>
                </div>
            </div>
            <div class='col-md-3 hidden-sm hidden-xs sidebar'>
                <div class='authorbar'>
                    <div class="list-group" id="post-author">
                        {% for auth in site.authors %}
                            {% if page.author == auth.name %}
                        <a href="{{ auth.page_path }}" class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span> 
                            作者：
                            {{ page.author }}
                        </a>
                        {% assign count = 0 %}
                        {% for post in site.posts %}
                            {% if post.author == auth.name %}
                                {% assign count = count | plus : 1 %}
                            {% endif %}    
                        {% endfor %}
                        <a href="{{ auth.page_path }}" class="list-group-item">
                            <span class="glyphicon glyphicon-file"></span>
                            文章
                            <span class="pull-right badge">{{ count }}</span>
                            <div class="inset-line"></div>
                        </a>
                        <a class="list-group-item">
                            <span class="glyphicon glyphicon-star"></span>
                            浏览量
                            <span class="pull-right badge">
                                {% if site.leancloud.enable %}
                                    <span id="{{ page.url }}" class="leancloud_visitors" data-flag-title="{{ post.title }}">
                                        <span class="leancloud-visitors-count">
                                        </span>
                                    </span>
                                {% endif %}
                           </span>
                            <div class="inset-line"></div>
                        </a>
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% if site.related_post != empty %}
                    <div class="list-group" id="my-like">
                        <a href="{{ auth.page_path }}" class="list-group-item">
                            <span class="glyphicon glyphicon-user"></span> 
                            博文推荐
                        </a>
                        {% for post in site.posts limit:5 %}
                            {% for auth in site.authors %}
                                {% if post.author == auth.name %}
                        <a href="" class="list-group-item">
                            <object>
                                <a href="{{ post.url }}">
                                    <span>{{ post.title }}</span>
                                </a>
                            </object>
                            <br>
                            <span class="glyphicon glyphicon-user">
                                <object>
                                    <a href="{{ auth.page_path }}">{{ post.author }}</a>
                                </object>
                            </span>
                            <span class="glyphicon glyphicon-calendar pull-right">{{ post.date | date: "%Y.%m.%d" }}</span>
                            <div class="inset-line"></div>
                        </a>
                                {% endif %}
                            {% endfor %}
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
    