<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang='zh-CN'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0
    minimum-scale=1.0,user-scalable=0">
    <title>年度博文</title>
    <script src="/jquery-3.2.1.js"></script>
    <link rel="stylesheet" href="/fonts/glyphicons-halflings-regular.svg">
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/footer.css">
</head>
<body>
    {% include header.html %}
    {{ content }}
    <script src="/js/bootstrap.js"></script>
</body>
</html>